body {
  font-family: Arial, Helvetica, sans-serif;
}
/*Nav-menu*/
.topnav {
  overflow: hidden;
  background-color: #18d979;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover,
.brand:hover {
  background-color: #1872d9;
  color: black;
}
.active {
  background-color: #d91818;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
.discounted h2:last-child {
  background-color: #c6d918;
}
.soldout img {
  opacity: 0.5;
}
.product section.soldout::before {
  content: "Sold Out";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
}
.breadcrum a {
  color: #1872d9;
}
.productbox {
  background-color: #18d979;
  color: white;
  padding: 1rem;
}
